.mailing-page__create {
  display: flex;
  justify-content: space-between;
}

.mailing-page__left {
  width: 75%;
}

.mailing-page__right {
  width: 25%;
}

.mailing-form-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
