.multiselect {
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e;
}
.multiselect__select {
  position: absolute;
  width: 40px;
  height: 38px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  text-align: center;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition:
    transform 0.2s ease,
    -webkit-transform 0.2s ease;

  &::before {
    position: relative;
    left: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: '';
  }
}
.multiselect__tags {
  min-height: 40px;
  display: block;
  padding: 8px 40px 0 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
}

.multiselect__input {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 0 0 0 5px;
  width: 100%;
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 8px;
  vertical-align: top;
}

.multiselect__single {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 50;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}
.multiselect__element {
  display: block;
}
.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.option__desc {
}

.select-custom {
  min-height: 56px;
}

.select {
  width: auto;
  cursor: pointer;

  .multiselect__select {
    top: calc(50% - 20px);

    &::before {
      border-color: #82c198 transparent transparent;
    }
  }

  .multiselect__tags {
    padding: 19px 40px 16px 15px;
    border: none;
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 6px;
  }

  .multiselect__input {
    color: #c8c8c8;
    font-size: 14px;
    background: transparent;
  }
  .multiselect__single {
    background: none;
    color: #c8c8c8;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
  }
  .multiselect__content-wrapper {
    background: #313131;
    box-shadow: 0 25px 54px #000;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .multiselect__option {
    width: 100%;
    color: #c8c8c8;
    font-size: 14px;
    white-space: normal;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:
      transform 0.2s ease,
      -webkit-transform 0.2s ease;
  }
  .multiselect__option--highlight {
    background: rgba(0, 0, 0, 0.4);
  }
  .multiselect__option--selected {
    background: #82c198 !important;
    color: #313131 !important;
    font-weight: 500;
  }
}

.select-custom {
  .multiselect__element:last-child {
    span {
      color: rgb(210, 108, 102) !important;
    }
  }
}

//active
.multiselect--active {
  .multiselect__select {
    transform: rotate(180deg);
  }
}
